
config network 'mode'
	option net_mode 'apsta'

config lora 'use'
	list lora_sdk 'pfw'
	list lora_sdk 'ttn'
	option use_lora_sdk 'pfw'

config lora_sdk 'pfw'
	option name 'pfw'
	option menu 'Packet forwarder'
	option index '1'
	list lora_sdk_ver 'pfw_v1'
	list lora_sdk_ver 'pfw_v2'
	option use_lora_sdk_ver 'pfw_v2'

config lora_sdk_ver 'pfw_v1'
	option name 'pfw_v1'
	option ver_desc 'Semtech Packet Forwarder v1'
	option exec_start '/home/rxhf/packet_forwarder/gps_pkt_fwd/gps_start_service.sh'
	option exec_stop '/home/rxhf/packet_forwarder/gps_pkt_fwd/gps_stop_service.sh'
	list sdk_config '/home/rxhf/packet_forwarder/gps_pkt_fwd/local_conf.json'
	list sdk_config '/home/rxhf/packet_forwarder/gps_pkt_fwd/global_conf.json'
	option pg_base_path '/home/rxhf/packet_forwarder/pg_conf_json/'
	option model '470'
	option use_config 'global_conf_cn470prequel.json'

config lora_sdk_ver 'pfw_v2'
	option name 'pfw_v2'
	option ver_desc 'Semtech Packet Forwarder v2'
	option exec_start '/home/rxhf/packet_forwarder/lora_pkt_fwd/lora_start_service.sh'
	option exec_stop '/home/rxhf/packet_forwarder/lora_pkt_fwd/lora_stop_service.sh'
	list sdk_config '/home/rxhf/packet_forwarder/lora_pkt_fwd/local_conf.json'
	list sdk_config '/home/rxhf/packet_forwarder/lora_pkt_fwd/global_conf.json'
	option pg_base_path '/home/rxhf/packet_forwarder/pg_conf_json/'
	option model '470'
	option use_config 'global_conf_cn470prequel.json'

config lora_sdk 'ttn'
	option name 'ttn'
	option menu 'TTN Packet forwarder'
	option index '2'
	list lora_sdk_ver 'ttn_v1'
	option use_lora_sdk_ver 'ttn_v1'

config lora_sdk_ver 'ttn_v1'
	option name 'ttn_v1'
	option ver_desc 'TTN Packet Forwarder'
	option exec_start '/home/rxhf/ttn_packet_forwarder/poly_pkt_fwd/poly_start_service.sh'
	option exec_stop '/home/rxhf/ttn_packet_forwarder/poly_pkt_fwd/poly_stop_service.sh'
	list sdk_config '/home/rxhf/ttn_packet_forwarder/poly_pkt_fwd/local_conf.json'
	list sdk_config '/home/rxhf/ttn_packet_forwarder/poly_pkt_fwd/global_conf.json'
	option pg_base_path '/home/rxhf/ttn_packet_forwarder/pg_conf_json/'
	option model '868'
	option use_config 'global_conf_eu868.json'

